<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <content-security-policy policy-directives="script-src 'self' https://snuece.github.io; object-src https://snuece.github.io; report-uri /csp-report-endpoint/" />
  <xss-protection block="false"/>
  
  <headers defaults-disable="true">
      <cache-control />
      <content-type-options />
  </headers>

  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
              <li><a href="{{ "/" | prepend: site.baseurl }}"
                  class="icon fa-home"> 홈</a></li>
            <li><a href="{{ "/project" | prepend: site.baseurl }}"
                class="icon fa-book"> 프로젝트</a></li>
            <li><a href="{{ "/member" | prepend: site.baseurl }}"
                class="icon fa-users"> 멤버</a></li>
            <li><a href="{{ "/join" | prepend: site.baseurl }}"
                class="icon fa-pencil"> 가입하기</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
